.App-footer {
    position: fixed;
    bottom: 0;
    left: clamp(200px, 25vw, 220px);
    right: 0;
    width: calc(100% - clamp(200px, 25vw, 220px));
    height: 50px;
    background-color: blueviolet;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 999;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  }

@media (max-width: 768px) {
  .App-footer {
    left: 0;
    width: 100%;
  }
}