.sidebar {
  width: clamp(200px, 25vw, 220px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f5f5f5;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px 10px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.menu li:hover {
  background-color: #374151;
}